body {
	/* background: #1B1C1D; */
	width: 100%;
	height: 100%;
}

.ui.super-h2 {
	margin-bottom: 192px;
}

/**
 * Custom colors
 */
.ui.primary.inverted.segment {
	background: #2B2E4A;
	height: 100vh;
}

.ui.secondary.inverted.segment {
	background: #903749;
}

.ui.tertiary.inverted.segment {
	background: #2D4059;
}

.ui.quaternary.inverted.segment {
	background: #53354A;
}

.ui.last.inverted.segment {
	background: #B83B5E;
	height: 100vh;
}

.ui.primary.buttons .button,
.ui.primary.button {
	background-color: #E84545;
}

.ui.primary.button:hover {
	background-color: #C84545;
}

.ui.primary.button:focus,
.ui.primary.button:active {
	background-color: #A84545;
}

.ui.secondary.inverted.pointing.menu {
	border: none;
}

.ui.inverted.sidebar.menu {
	background: #903749;
}

/**
 * Custom CSS
 */
.ui.link {
	color: #4FC3F7;
	text-decoration: underline;
}

.ui.unlink {
	color: white;
	text-decoration: none;
}

.ui.inverted.menu.fixed {
	visibility: hidden;
	background: rgba(27, 28, 29, 0.7);
	border-radius: 0;
	line-height: 30px;
}

.ui.inverted.menu.fixed > .item,
.ui.inverted.menu.fixed > .button,
.right.menu > .item,
.right.menu > .button {
	border: none;
	line-height: 30px;
}

.grid-alpha {
	border-radius: 1em;
	background: rgba(27, 28, 29, 0.2);
	position: relative;
}

.ui.vertical.divider.white {
	color: white;
}

/**
 * Color Palette
 */
.colorHunt-1 {
	background: #2B2E4A;
}

.colorHunt-2 {
	background: #E84545;
}

.colorHunt-3 {
	background: #903749;
}

.colorHunt-4 {
	background: #53354A;
}

/**
 * Styled Theme
 */
.masthead.segment {
	min-height: 700px;
	padding: 1em 0em;
}
.masthead .logo.item img {
	margin-right: 1em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 700px) {
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}
